
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<style>
    .doz {
        display: flex;
    }

    .asd {
        margin-top: 30px;
        text-align: center;
    }

    .buton {
        margin-top: 20px;
        margin-left: 50px;
    }
</style>
<body>

    <div class="doz">
        <table class="table table-bordered table-striped  asd">
            <tr>
                <th>Son İşlem</th>
                <th>İşlem Türü</th>
                <th>İşlem Zamanı</th>
            </tr>
        </table>
    </div>
</body>
